        .text-justify {
            text-align: justify
        }

        .code-example {
            padding: 1rem;
            background-color: lightblue
        }

        .block {
            display: block
        }

        .bd-example {
            padding: 1.5rem;
            margin-right: 0;
            margin-left: 0;
            border-width: 1px;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }

        .bd-example-row .row>.col,
        .bd-example-row .row>[class^="col-"] {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            background-color: rgba(39, 41, 43, 0.03);
            border: 1px solid rgba(39, 41, 43, 0.1);
        }

        .example {
            padding: 5px 0;
            background-color: #c9c9c9;
            border-radius: 5px;
        }

        .image-example {
            margin-right: 50px;
        }

        .example-border {
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
            margin-bottom: 5px;
        }
